*.iml
.gradle
/.kotlin/
/study-app-ui-android/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/study-app-ui-android/build
/study-app-ui-android/captures
/study-app-ui-android/.externalNativeBuild
/study-app-ui-android/.cxx
/captures
.externalNativeBuild
.cxx
